.detailsWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Media Queries */
@media (min-width: 950px) {
  .detailsWrapper {
    flex-direction: row;
    justify-content: stretch;
    width: 100%;
  }
}
